body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Lato, sans-serif;
    margin: 40px 10px 10px;
}

h2 {
    font-family: Kelson, sans-serif;
    font-weight: bold;
    font-size: 36px;
}

label {
    font-size: 24px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0 5px 5px #eee;
}

button {
    background-color: var(--esn-green);
    border-radius: 10px;
    border-style: none;
    font-size: 28px;
    color: white;
    padding: 5px;
}

button:hover {
    background-color: var(--esn-cyan);
}

dialog {
    padding: 20px;
    border-radius: 20px;
    border-width: 0;
}

dialog::backdrop {
    background-image: linear-gradient(
            45deg,
            var(--esn-cyan),
            var(--esn-magenta),
            var(--esn-green),
            var(--esn-orange)
    );
    opacity: 0.25;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 10px;
}

.v-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 1;
    background-color: white;
    transition: opacity 1s ease-in;
}

.page-top-image {
    width: 400px;
    font-size: 400px !important;
    color: var(--esn-green) !important;
}

.title {
    font-family: Kelson, sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.description, .game-name {
    font-size: 24px;
    text-align: center;
}

.description {
    margin-bottom: 10px;
}

.game-name {
    margin-bottom: 20px;
    color: var(--esn-green);
    font-weight: bold;
}

.team-input {
    width: 380px;
    height: 30px;
    font-size: 20px;
    margin-bottom: 25px;
}

.team-input::placeholder {
    font-size: 16px;
    color: lightgray;
    padding: 5px;
}

.main-button {
    height: 50px;
    width: 400px;
    margin-bottom: 20px;
    font-family: Lato, sans-serif;
}

.footer-link {
    font-weight: 300;
    font-size: 14px;
    color: gray;
    text-decoration: underline;
    text-decoration-color: lightgray;
    margin-bottom: 5px;
}

.hint-container {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.validate-checkbox {
    pointer-events: none;
    accent-color: var(--esn-green);
    margin-left: 10px;
}

.validate-time {
    font-weight: bold;
    color: var(--esn-green);
}

.hint-title {
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.divider {
    width: 100%;
    margin: 30px 0;
}

.dialog-text {
    text-align: center;
    font-size: 24px;
}

.dialog-image {
    display: none;
    margin-bottom: 5px;
}

.dialog-button-container {
    width: 100%;
}

.dialog-button {
    width: 50%;
    margin-top: 20px;
    padding: 10px 20px;
}

.dialog-input {
    width: calc(100% - 20px);
    margin-bottom: 15px;
}

.entry-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.override {
    padding: 20px 40px;
}

.override div div {
    width: 100%;
}

.override::backdrop {
    background-color: black !important;
    background-image: none;
    opacity: 0.25 !important;
}

.polaris-logo {
    height: 128px;
}

.open-source {
    font-size: 12px;
    color: black;
}

.open-source a {
    color: grey !important;
    text-decoration: none;
}

.qr-button {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.progress-container, .progress-bar {
    height: 30px;
}

.progress-container {
    display: none;
    width: 100%;
    background-color: var(--esn-darkblue);
    border-radius: 10px;
}

.progress-bar {
    background-color: var(--esn-cyan);
    border-radius: 10px 0 0 10px;
}

.checklist-container {
    position: fixed;
    bottom: 0;
}

.checklist-drawer {
    display: flex;
    justify-content: center;
    position: relative;
    top: 1px;
    left: calc(50% - 75px);
    width: 150px;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-bottom: 1px solid white;
    border-radius: 10px 10px 0 0;
    padding: 5px 0;
}

.checklist-body {
    height: 0;
    width: 460px;
    overflow-y: auto;
    border-radius: 10px 10px 0 0;
    background-color: white;
    box-shadow: 0 0 20px 1px #e6e6e6;
    transition: height 1s ease-in-out;
}

.checklist-body::-webkit-scrollbar {
    display: none;
}

.checklist-item {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 2px 5px #eee;
    padding: 10px;
    margin: 0 20px 10px;
    cursor: pointer;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.checklist-item:first-of-type {
    margin-top: 20px;
}

.checklist-item:last-of-type {
    margin-bottom: 20px;
}

.checklist-item input {
    margin-right: 10px;
    pointer-events: none;
    accent-color: var(--esn-green);
    color: white;
}