:root {
    --ESN-Cyan: #00aeef;
    --ESN-Magenta: #ec008c;
    --ESN-Green: #7ac143;
    --ESN-Orange: #f47b20;
    --ESN-DarkBlue: #2e3192;
    color-scheme: only light;
}

@font-face {
    font-family: 'Kelson Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Kelson Regular'), url(../assets/fonts/Kelson.woff) format('woff');
}

@font-face {
    font-family: 'Kelson Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Kelson Thin'), url(../assets/fonts/Kelson-Thin.woff) format('woff');
}

@font-face {
    font-family: 'Kelson Light';
    font-style: normal;
    font-weight: normal;
    src: local('Kelson Light'), url(../assets/fonts/Kelson-Light.woff) format('woff');
}

@font-face {
    font-family: 'Kelson Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Kelson Medium'), url(../assets/fonts/Kelson-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Kelson Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Kelson Bold'), url(../assets/fonts/Kelson-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Kelson ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Kelson ExtraBold'), url(../assets/fonts/Kelson-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(../assets/fonts/Lato-LatinExt-100.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(../assets/fonts/Lato-Latin-100.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../assets/fonts/Lato-LatinExt-300.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../assets/fonts/Lato-Latin-300.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/Lato-LatinExt-400.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/Lato-Latin-400.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../assets/fonts/Lato-LatinExt-700.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../assets/fonts/Lato-Latin-700.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../assets/fonts/Lato-LatinExt-900.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../assets/fonts/Lato-Latin-900.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}